<div>
  <img src="/assets/avatar2.svg" alt="Mathilde Sauvage" />
  <p>
    Hi, I'm <strong>Mathilde</strong>! I'm a full stack software engineer based
    in Rennes, Britanny, France.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
